<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from TCP</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#ffe77b" style="background-color:#ECECEC;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:#564319; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="        font-size: 36px;
        color: #ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:#a29881;">
                                <b>{1} :CatTeam</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">

                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="40%" align="center" valign="middle" style="padding:10px;">
                                        <img src="http://localhost:2131/Templates/EmailTemplate/images/Weak_Password.gif" width="169" height="187" style="display:block">
                                    </td>
                                    <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:16px;">
                                            Dear {2},
                                        </div>
                                        <div style="font-size:12px;">
                                            Thank you for showing your interest  in  our website.
                                            All you need to do is click the button below (it only takes a few seconds).
                                            <hr>
                                            <center>

                                                <button type="button" title="Confirm Action" style="background: #1b97f1">
                                                    <a href="{3}" style="font-size:22px; padding: 10px; color: #ffffff">
                                                        {0}
                                                    </a>
                                                </button>

                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html> 